*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.attribution {
  font-size: 1.1rem;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
